.quarterTransition{
	fill:#80deea;
	transition: fill 0.3s ease-out;
	
}

.quarterTransitionBack{
	fill:#00bcd4;
	transition:fill 0.3s ease-out;
}

.centerTransition{
	fill:#f8bbd0;
	transition: fill 0.3s ease-out;
}

.centerTransitionBack{
	fill:#ff4081;
	transition: fill 0.3s ease-out;
}